*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar{
    position: fixed;
    background-color: #6F6AF7;
    font-family: sans-serif;
    width: 100%;
    display: block
}

.navbar .site-logo{
    font-size: 1.8rem;
    display: inline-block;
    margin : 1%;
}

.navbar .site-logo a{
    color: white;
    font-family: "Delius Unicase", cursive;
    font-weight: 700;
    font-style: normal;
}

.navbar ul {
    display: inline;
    margin-left: 10%;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 2%;
}

.navbar ul li a{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-size:1.2rem;
    font-weight: 400;
    font-style: normal;
}

.navbar ul li form{
    background-color: white;
    border-radius: 20px;
    line-height: 25px;
}

.navbar ul li .search-box{
    /* outline: none; */
    border-radius: 20px;
    border: 0px white;
    text-indent: 10px;
}

.navbar .hamberger-menu{
    font-size: 1.5rem;
    color: white;
    float: right;
    margin-top: 1.5%;
    margin-right: 5%;
    cursor: pointer;
}


.main-container{
    padding-top: 10%;
    margin-left: 7%;
    display: inline-block;
    /* width: 40%; */
    width: 86%;
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    width:90%; */
}

.main-container .image-container{
    border-radius: 10px;
    /* display: inline; */
    display: inline-block;
    height: 300px;
    width: 28%;
}

.main-container .image-container img{
    height: 300px;
    width: 90%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    /* display: inline; */
}


.main-container textarea{
    /* margin: 10px;
    padding: 5px; */
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding: 1% 1%;
    /* margin-left: 5%; */
    min-width: 500px;
    margin: 0;    
    min-height: 300px;
    background-color: #E5D8FF;
    border-radius: 5px;
    resize: none;
    font-family: DM Sans;
    font-weight: 400;
    line-height: 51.82px;
    text-align: left; 
}

.icon-absolute{
    position: relative;
}
.chat-support{
    position: absolute;
    display: block;
    cursor: pointer;
}

.chat-support img{
    position: fixed;
    bottom: 10%;
    right: 5%;
    border-radius: 50%;
}


.social-icons{
    margin-left: 2%;
    margin-top: 12%;
    display: inline;
    position: sticky;
    top: 20%;
    cursor: pointer;
    float: right;
}

.social-icons .whatsapp-icon{
    width: 100%;
    padding: 5px;
    border: solid black;
}

.social-icons .facebook-icon{
    width: 100%;
    margin-top: 2px;    
    padding: 5px;
    border: solid black;
}

.social-icons .twitter-icon{
    width: 100%;
    margin-top: 2px;
    padding: 5px;
    border: solid black;
}

.data-container{
     margin: 5%;
}

.data-container ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
}

.data-container ul li{
    width: 30%;
    height: 20%;
    margin-right: 2%;
    /* padding: 2%; */
}

.data-container ul li div{
    padding: 5% 5%;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 3%;
}

.data-container ul li .question{
    background-color: #929DFF;
}

.data-container ul li .answer{
    background-color: #734CF2;
}

.data-container ul li .participated{
    background-color: #D288FF;
}

.data-container ul li .passed{
    background-color: black;
}

.information-container{
    margin: 5%;
    background-color: #483EFF;
    border-radius: 4%;
    display: flex;
}

.information-container .list-container{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.information-container .list-container ul{
    list-style: none;
}

.information-container .list-container ul li{
    color: white;
    margin: 20%;
}
.information-container .list-container ul li div{
    height: 80px;
    padding: 12% 25%;
    border : 3px solid white;
    border-radius: 5%;
    text-transform: uppercase;  
    /*font*/ 
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.information-container .list-container ul li .info{
    color: black;
    background-color: #BCE0F6;
    border:0;
}

.information-container .white-information{
    background-color: white;
    display: inline-block;
    margin: 2% 3%;
    height: 500px;
    width: 70%;
}

.information-container .white-information ul{
    list-style: none;

    /* width: 70%; */
}

.information-container .white-information .your-info{
    font-size: 2rem;
    color: #04285A;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 45.99px;
    letter-spacing: 0.105em;
    text-align: left;
    padding : 3% 4%;

}

.information-container .white-information ul{
    display: flex;
    flex-direction: column;
    margin: 3% 5%;
    color: #04285A;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 32.81px;
    letter-spacing: 0.105em;
    text-align: left;
}


.information-container .white-information button{
    background-color: black;
    height: 50px;
    color: white;
    width: 100px;
    float: right;
    margin: 10%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: left;
    padding-left: 2%;
    cursor: pointer;
}